
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rice Type Classification</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="hero-section">
        <nav class="navbar">
            <h1>RICE TYPE DETECTION</h1>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#testimonials">Testimonials</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="details.html">Predict</a></li>
            </ul>
        </nav>
        <div class="hero-content">
            <h1>Welcome to Rice Type Detection</h1>
            <p>This model can detect rice type based on rice images.</p>
            <a href="details.html" class="predict-btn">Predict</a>
        </div>
    </div>
</body>
</html>
